/* Colors*/
button:focus {
  outline: 0 !important;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.center-horizontal {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.center-vertical {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.transition-cool {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.active-menu-item {
  background-color: rgba(75, 193, 245, 0.5);
  color: #ffffff;
}
.normal-button-style {
  box-shadow: none;
}
.normal-button-style:hover,
.normal-button-style:focus,
.normal-button-style:active {
  background-color: #ffffff;
  color: #4bc1f5;
  border-color: #4bc1f5;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  overflow: hidden;
  font-family: 'Montserrat Light', arial;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  color: #242e41;
}
#app {
  height: 100%;
  width: 100%;
}
#sidebar {
  position: fixed;
  z-index: 100000000000000;
  top: 0px;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #242e41;
}
#sidebar .menu-list {
  padding-top: 50px;
}
#sidebar .menu-list .style_rui-snav-grp-c_3AfFK span {
  font-weight: 500;
}
#sidebar .menu-list .style_rui-snav-collapsed_3O2xO {
  border-left: 4px solid #4bc1f5;
}
#sidebar .menu-list .style_sidenav-item_1ECTt {
  padding-left: 36px;
}
#sidebar .menu-list .style_sidenav-item_1ECTt:hover {
  background: #419ec0 !important;
}
#sidebar .menu-list .style_active_1bLoa {
  background: #419ec0;
  border-left: 4px solid #419ec0;
}
#sidebar #repository-section {
  position: relative;
  height: 50px;
  width: 250px;
}
#sidebar #repository-section .btn {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 10px;
  background-color: #242e41;
  color: #ffffff;
  border-color: #ffffff;
  border: 0;
  box-shadow: none;
  font-size: 14px;
}
#sidebar #repository-section .btn:hover,
#sidebar #repository-section .btn:focus,
#sidebar #repository-section .btn:active {
  color: #4bc1f5;
  border-color: #4bc1f5;
}
#sidebar #repository-section #repository-selection {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
#sidebar #repository-section #repository-selection #repository-dropdown {
  box-shadow: none;
  width: 250px;
  height: 50px;
  border: none;
  border-radius: 0px;
  color: #ebeced;
  background-color: rgba(36, 46, 65, 0.7);
}
#sidebar #repository-section #repository-selection #repository-dropdown:hover {
  color: #4bc1f5;
}
#sidebar #repository-section #repository-selection .dropdown-menu {
  width: 250px;
  -webkit-transform: translate(250px, -50px);
  -moz-transform: translate(250px, -50px);
  -ms-transform: translate(250px, -50px);
  -o-transform: translate(250px, -50px);
  transform: translate(250px, -50px);
}
#sidebar #repository-section #repository-selection .dropdown-menu li {
  position: relative;
}
#sidebar #repository-section #repository-selection .dropdown-menu li a {
  color: #242e41;
  height: 50px;
}
#sidebar .menu-list {
  list-style-type: none;
  padding: 0;
  padding-top: 50px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#sidebar .menu-list .menu-item {
  z-index: 1;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  position: relative;
  width: 250px;
  height: 50px;
}
#sidebar .menu-list .menu-item a {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50px;
  text-decoration: none;
  color: #ebeced;
  cursor: pointer;
}
#sidebar .menu-list .menu-item a:hover {
  color: #4bc1f5;
}
#sidebar #sidebar-logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100px;
  bottom: 50px;
}
#topbar {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 1px 0px #ebeced;
  -moz-box-shadow: 0px 1px 1px 0px #ebeced;
  box-shadow: 0px 1px 1px 0px #ebeced;
  padding: 0px;
  margin: 0px;
  z-index: 1000000000000000;
}
#topbar #user-section {
  z-index: 10000000;
  right: 50px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
#topbar #user-section #user-dropdown {
  box-shadow: none;
}
#topbar #user-section #user-dropdown:hover,
#topbar #user-section #user-dropdown:focus,
#topbar #user-section #user-dropdown:active {
  background-color: #ffffff;
  color: #4bc1f5;
  border-color: #4bc1f5;
}
#topbar #control-section {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 300px;
  width: 100%;
}
#topbar #control-section .btn {
  box-shadow: none;
  outline: 0;
}
#topbar #control-section .btn:hover,
#topbar #control-section .btn:focus,
#topbar #control-section .btn:active {
  background-color: #ffffff;
  color: #4bc1f5;
  border-color: #4bc1f5;
}
#topbar #control-section #content-editor-controls {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  -o-transform: translateX(-40px);
  transform: translateX(-40px);
}
#topbar #control-section #content-editor-controls li {
  float: left;
  padding-left: 14px;
  padding-right: 14px;
}
#topbar #control-section #content-editor-controls li .btn {
  margin-top: 2.5px;
}
#main-section {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin-top: 50px;
  margin-left: 250px;
  overflow: hidden;
  background-color: rgba(235, 236, 237, 0.2);
}
#main-section #content-list {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-top: solid rgba(235, 236, 237, 0);
  border-bottom: solid rgba(235, 236, 237, 0);
  border-width: 50px;
  height: 100%;
  width: 80%;
  overflow-y: scroll;
}
#main-section #content-list #list-item {
  position: relative;
}
#main-section #content-list #list-item .list-group-item:hover {
  cursor: pointer;
  background-color: rgba(75, 193, 245, 0.5);
  color: #ffffff;
}
#main-section #content-list #list-item .list-group-item:hover h4 {
  color: #ffffff;
}
#main-section #content-list #list-item .list-group-item:focus {
  outline: 0;
}
#main-section #content-list #list-item .list-group-item h4 {
  font-family: 'Montserrat', arial;
  font-size: 16px;
}
#main-section #content-list #list-item #list-button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 1px;
  height: 60px;
  width: 50px;
  color: #e76a84;
  background-color: #ffffff;
  border: none;
  border-left: 1px solid #dddddd;
  border-radius: 0px;
}
#main-section #content-list #list-item #list-button:hover,
#main-section #content-list #list-item #list-button:focus,
#main-section #content-list #list-item #list-button:active {
  background-color: #e76a84;
  border-left: 1px solid #e76a84;
  color: #ffffff;
  border-color: #ffffff;
  outline: 0;
}
#main-section #markdown-editor {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
}
#main-section #markdown-editor .editor {
  position: absolute;
  width: 50%;
  height: 100%;
  border-style: none;
  resize: none;
  padding-top: 50px;
  padding-left: 24px;
  padding-right: 24px;
}
#main-section #markdown-editor .editor:focus,
#main-section #markdown-editor .editor:active {
  outline-width: 0;
  outline-offset: 0px;
}
#main-section #markdown-editor .preview {
  position: absolute;
  background-color: #ffffff;
  width: 50%;
  min-height: 100%;
  right: 0;
  padding-top: 50px;
  padding-left: 24px;
  padding-right: 24px;
}
#main-section #markdown-editor #split-line {
  width: 1px;
  border-width: 1px;
  height: 100%;
  border-style: solid;
  border-color: #ebeced;
  top: 1px;
  z-index: 100000000;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
#main-section #markdown-editor .label-wrapper {
  position: absolute;
  width: 50%;
  height: 50px;
  background-color: #ffffff;
  z-index: 100000;
}
#main-section #markdown-editor .label-wrapper #markdown-label {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  margin-left: 24px;
  background-color: #242e41;
}
#main-section #markdown-editor .label-wrapper #preview-label {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  margin-left: 24px;
  background-color: #242e41;
}
#main-section #markdown-editor #right-label-wrapper {
  left: 50%;
}
#main-section #welcome {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
}
#main-section #welcome .centered-text {
  -webkit-transform: translateY(-25px);
  -moz-transform: translateY(-25px);
  -ms-transform: translateY(-25px);
  -o-transform: translateY(-25px);
  transform: translateY(-25px);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#main-section #welcome .centered-text h1,
#main-section #welcome .centered-text h4 {
  color: rgba(36, 46, 65, 0.5);
}
#main-section #welcome .centered-text h4 {
  left: 0;
}
#login-page {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #525cbc 20%, #6eecc4 100%);
}
#login-page #login-container {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 600px;
  height: 600px;
  -webkit-transform: translate(-300px, -300px);
  -moz-transform: translate(-300px, -300px);
  -ms-transform: translate(-300px, -300px);
  -o-transform: translate(-300px, -300px);
  transform: translate(-300px, -300px);
  border-radius: 5px;
  background-color: rgba(36, 46, 65, 0.6);
}
#login-page #login-container #login-logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 50px;
  width: 150px;
}
#login-page #login-container .btn {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  width: 250px;
  outline: 0;
  -webkit-transform: translateX(-125px);
  -moz-transform: translateX(-125px);
  -ms-transform: translateX(-125px);
  -o-transform: translateX(-125px);
  transform: translateX(-125px);
}
#login-page #login-container #login-fail {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #e76a84;
  text-align: center;
  width: 250px;
  outline: 0;
  -webkit-transform: translate(-125px, 60px);
  -moz-transform: translate(-125px, 60px);
  -ms-transform: translate(-125px, 60px);
  -o-transform: translate(-125px, 60px);
  transform: translate(-125px, 60px);
}
#login-page #login-container h5 {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  line-height: 1.5;
  color: #6eecc4;
  width: 400px;
  text-align: center;
  -webkit-transform: translate(-200px, 100px);
  -moz-transform: translate(-200px, 100px);
  -ms-transform: translate(-200px, 100px);
  -o-transform: translate(-200px, 100px);
  transform: translate(-200px, 100px);
}
#login-page #login-list {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 0px;
  bottom: 10px;
}
#login-page #login-list li {
  color: #ffffff;
  display: inline;
  list-style: none;
  float: left;
  padding: 10px;
}
#login-page #login-list li a {
  color: #ffffff;
}
.notification {
  padding-left: 10px;
  border-radius: 4px;
  position: absolute;
  z-index: 20000000000000000 !important;
  left: 10px;
  bottom: 50px;
  height: 50px !important;
  font-size: 14px !important;
  font-family: 'Montserrat Light', arial !important;
  display: table;
  min-width: 208px;
  max-width: 300px;
}
.notification .notification-bar-wrapper {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.custom-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 35%;
  top: 35%;
  -webkit-transform: translate(-300px, 87px);
  -moz-transform: translate(-300px, 87px);
  -ms-transform: translate(-300px, 87px);
  -o-transform: translate(-300px, 87px);
  transform: translate(-300px, 87px);
}
.modal-content {
  border-color: #242e41;
  box-shadow: none;
}
.modal-content h4 {
  font-size: 16px;
}
.modal-content label {
  font-weight: 500;
}
.modal-content input {
  outline: 0;
}
.modal-content input:focus {
  box-shadow: none;
  border-color: #4bc1f5;
}
.modal-content .modal-header {
  background-color: #242e41;
  color: #ffffff;
}
.modal-content .modal-header .close {
  color: #ffffff;
  opacity: 1;
}
.modal-content .btn-default {
  background-color: #ffffff;
}
.modal-content .btn-default:hover,
.modal-content .btn-default:focus,
.modal-content .btn-default:active {
  background-color: #ffffff;
  color: #4bc1f5;
  border-color: #4bc1f5;
}
.modal-content .btn-primary {
  background-color: #ffffff;
  color: #68dba0;
  border-color: #68dba0;
}
.modal-content .btn-primary:hover,
.modal-content .btn-primary:focus,
.modal-content .btn-primary:active {
  background-color: #68dba0;
  color: #ffffff;
  border-color: #68dba0;
}
/**
* rc-notification
**/
.rc-notification {
  top: unset !important;
  bottom: 50px;
  right: 50px;
  left: unset !important;
  position: fixed;
  z-index: 105555555555555555555;
}
.rc-notification-notice {
  padding: 16px 18px 16px 18px;
  border-radius: 3px 3px;
  border: 1px solid #999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 0px solid rgba(0, 0, 0, 0);
  background: #fff;
  display: block;
  width: auto;
  line-height: 1.5;
  vertical-align: middle;
  position: relative;
  margin: 10px 0;
}
.success-notification {
  color: #ffffff !important;
  background-color: rgba(104, 219, 160, 0.9) !important;
}
.pending-notification {
  color: #ffffff !important;
  background-color: rgba(247, 198, 65, 0.9) !important;
}
.failure-notification {
  color: #ffffff !important;
  background-color: rgba(227, 94, 98, 0.9) !important;
}
.rc-notification-notice-closable {
  padding-right: 20px;
}
.rc-notification-notice-close {
  position: absolute;
  right: 5px;
  top: 3px;
  color: #000;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  text-decoration: none;
}
.rc-notification-notice-close-x:after {
  content: '×';
}
.rc-notification-notice-close:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  text-decoration: none;
}
.rc-notification-fade-enter {
  opacity: 0;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.rc-notification-fade-leave {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.rc-notification-fade-enter.rc-notification-fade-enter-active {
  -webkit-animation-name: rcNotificationFadeIn;
  animation-name: rcNotificationFadeIn;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
.rc-notification-fade-leave.rc-notification-fade-leave-active {
  -webkit-animation-name: rcDialogFadeOut;
  animation-name: rcDialogFadeOut;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
@-webkit-keyframes rcNotificationFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rcNotificationFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes rcDialogFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rcDialogFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
